<% @computers.each do |computer| %>
    <h1>Item Name: <%= computer.name %></h1>
    <h1>Price: <%= computer.price %></h1>
    <h1>Image: </h1>
    <h1>Description: <%= computer.description %></h1>
    <br>
<% end %>