<h1>Item for sale</h1>

<%= form_tag "/computers", method: :post do %>
    <div>Item Name: <input type="text" name="name"</div>
    <div>Price: <input type="text" name="price"</div>
    <div>Description: <input type="text" name="description" </div>
    <input type="submit" value="Submit">
<% end %>