<h1>Item for sale</h1>

<%= form_tag '/computers<%= ', method: :post do %>
    <div>
        Item Name: <input type="text" name="name" placeholder="device">
    </div>
    <div>
        Price: <input type="text" name="price" placeholder="100">
    </div>
    <div>Description: <input type="text" name="description" class="form-control" rows="3" placeholder="It's a great device!">
    </div>
    <input type="submit" value="Submit">
<% end %>